@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;      
}
/* Navbar */
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 2000px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
  background-color: #fadde6;
}
.navbar h1 {
  color: #f1356d;  
}
.navbar .links {
  margin-left: auto;  
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 7px;
}
.navbar a:hover {
  color: #f1356d;  
}
.navbar:hover{
  background-color: #f5c5d4;
  box-shadow: 3px 5px 7px rgba(0,0,0,0.1);
}
/* Content */
.content {
  max-width: 2000px;
  margin: 40px auto;
  padding: 20px;
}
/* User preview*/
.user-preview{
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa
}
.user-preview:hover{
  box-shadow: 3px 5px 7px rgba(0,0,0,0.1);
  background-color:lightpink   
}
.user-preview h2{
  font-size: 22px;
  color: #f1356d;
  margin-bottom: 8px;
}
.user-preview a{
  text-decoration: none;
}
/* User details */
.user-details{
  max-width: 2000px;
  margin: 10px auto;  
  padding: 10px 16px;
  border-bottom: 1px solid #fafafa  
}
.user-details a{
  font-size: 20px;
  color: #333;
  margin-bottom: 12px;
}
.user-details li:hover{
  box-shadow: 3px 5px 7px rgba(0,0,0,0.1);
  background-color:lightpink
}
/*.user-details button {
  background:#4727fa;
  color: #fff;  
  border: 0;
  font-size: 17px;
  padding: 20px;
  border-radius: 20px;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  align-items: center;
  cursor: pointer;
}
.user-details button:hover{
  box-shadow: 20px 25px 30px rgba(0,0,0,0.1);
  background-color:darkred;
}*/
.user-details h2{
  font-size: 30px;
  color: #f1356d;
  margin-bottom: 12px;
}
.user-details p{
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
  color: #333;
  margin-bottom: 12px;
  margin-left: 18px;
}
.user-details h3{
  font-size: 25px;
  color: #333;
  margin-bottom: 12px;
}
.user-details #account-list h2{
  font-size: 20px;
  color: #333;
  margin-bottom: 12px;
  background-color:lightpink;  
  padding: 10px;
  margin-left: 18px;
  border-radius: 10px;
  display: inline-block;    
}
.user-details #accounts-article h2{
  font-size: 25px;
  color: #333;
  margin-bottom: 12px;
}

/* Account details */
.account-details p{
  margin-left: 25px;
  font-size: 18px;
  font-weight: 500;
}
#account-list h2:hover{
  box-shadow: 15px 18px 21px rgba(0,0,0,0.1);  
  background-color:rgb(173, 125, 132);  
}
#account-list{  
  text-decoration: none;
}
/* create new blog form */
.create {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.create label {
  text-align: left;
  display: block;
  font-size: 18px;
  font-weight: 450;
}
.create h2 {
  font-size: 28px;
  color: #f1356d;
  margin-bottom: 30px;
}
.create input, .create textarea, .create select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}
/*
.create button {
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 20px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 18px;
}
.create button:hover{
  box-shadow: 15px 18px 21px rgba(0,0,0,0.1);
  background:rgb(179, 0, 110);
}*/
.not-found {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa
}
.not-found h2{
  font-size: 40px;
  color: black;
  margin-bottom: 12px;
}
.not-found p{
  font-size: 20px;
  color: #333;
  margin-bottom: 12px;
}
/*.not-found a{
  text-decoration: none;
  font-size: 18px;
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}
.not-found a:hover{
  box-shadow: 15px 18px 21px rgba(0,0,0,0.1);
  background:darkred;
}*/
.faq{
  max-width: 1000px;
  margin: 10px auto;
  padding: 5px;
}
.faq h2{
  font-size: 35px;
  color: #f1356d;
  margin-bottom: 45px;
}
.faq h3{
  font-size: 25px;
  color: #f1356d;
  margin-bottom: 15px;
  font-weight: 900;
}
.faq p{
  font-size: 20px;
  color:black;
  margin-bottom: 35px;
  font-weight: 500;
}
.update {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.update label {
  text-align: left;
  display: block;
  font-size: 18px;
}
.update h2 {
  font-size: 28px;
  font-weight: 800;
  color: #f1356d;
  margin-bottom: 30px;
}
.update input, .update textarea, .update select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid rgb(175, 37, 37);
  box-sizing: border-box;
  display: block;
}
/*
.update button {
  background: #4727fa;
  font-weight: 800;
  color: #fff;
  border: 0;
  padding: 20px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 18px;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.update button:hover{
  box-shadow: 15px 18px 21px rgba(0,0,0,0.1);
  background:rgb(25, 0, 117);
}*/
#cancelButton{
  background: #5ab97f;
  font-weight: 800;
  color: #fff;
  border: 0;
  padding: 20px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 18px;
  line-height: 20px;
  margin-right: 10px;
  margin-left: 0px;
  margin-top: 10px;
  margin-bottom: 10px;  
}
#cancelButton:hover{
  box-shadow: 15px 18px 21px rgba(0,0,0,0.1);
  background:rgb(7, 68, 10);  
}
#deleteButton {
  background: #ff1414;
  font-weight: 800;
  color: #fff;
  border: 0;
  padding: 20px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 18px;
  line-height: 20px;
  margin-right: 10px;
  margin-left: 0px;
  margin-top: 10px;
  margin-bottom: 10px;  
}
#deleteButton:hover{
  box-shadow: 15px 18px 21px rgba(0,0,0,0.1);
  background:rgb(150, 0, 0);
}
#updateButton{
  background: #4727fa;
  font-weight: 800;
  color: #fff;
  border: 0;
  padding: 20px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 18px;
  line-height: 20px;  
  margin-right: 10px;
  margin-left: 0px;
  margin-top: 10px;
  margin-bottom: 10px;
}
#updateButton:hover{
  box-shadow: 15px 18px 21px rgba(0,0,0,0.1);
  background:rgb(25, 0, 117);
}
#loginButton{
  background: #140181;
  font-weight: 800;
  color: #fff;
  border: 0;
  padding: 30px;
  border-radius: 35px;
  cursor: pointer;
  font-size: 20px;
  line-height: 20px;  
  margin-right: 10px;
  margin-left: 0px;
  margin-top: 10px;
  margin-bottom: 10px;
}
#loginButton:hover{
  box-shadow: 15px 18px 21px rgba(0,0,0,0.1);
  background:rgb(10, 0, 48);
}
#AddButton{
  background: #0d0057;
  font-weight: 800;
  color: #fff;
  border: 0;
  padding: 20px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 18px;
  line-height: 20px;  
  margin-right: 10px;
  margin-left: 0px;
  margin-top: 10px;
  margin-bottom: 10px;
}
#AddButton:hover{
  box-shadow: 15px 18px 21px rgba(0,0,0,0.1);
  background:rgb(10, 0, 48);
}
.account-ministration-preview h2{
  font-size: 20px;
  line-height: 21px;
  color: rgb(30, 13, 70);
  margin-bottom: 12px;
  background-color:lightpink;  
  padding: 10px;
  margin-left: 25px;
  border-radius: 10px;
}
.account-ministration-preview h2:hover{
  box-shadow: 15px 18px 21px rgba(0,0,0,0.1);  
  background-color:rgb(179, 109, 119);    
}
.account-ministration-preview a{
  text-decoration: none;  
  display: inline-block;  
  margin-right: 5px;
  margin-top: 7px;
  margin-bottom: 5px;
}
.ministration-details p{
  font-weight: 600;
  font-size: 20px;
  margin-left: 18px;
  margin-bottom: 20px;
  margin-top: 15px;
}

.login {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.login label {
  text-align: left;
  display: block;
  font-size: 18px;
}
.login h2 {
  font-size: 28px;
  font-weight: 800;
  color: #f1356d;
  margin-bottom: 30px;
}
.login input, .login textarea, .login select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid rgb(175, 37, 37);
  box-sizing: border-box;
  display: block;
}
.ErrorsBar{
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 400px;
  margin: 0 auto;  
  border-bottom: 1px solid #db1111;
  border-top: 1px solid #db1111;
}
.box-div{  
  box-shadow: 10px 30px 50px rgba(255, 171, 171, 0.1);    
  background-color: #ffccdb;
  border-radius: 20px;
}

.faq-preview{
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa
}
.faq-preview:hover{
  box-shadow: 3px 5px 7px rgba(0,0,0,0.1);
  background-color:lightpink   
}
.faq-preview h2{
  font-size: 22px;
  color: #f1356d;
  margin-bottom: 8px;
}
.faq-preview a{
  text-decoration: none;
}